@import 'tachyons';

.br--left2 {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.br--right2 {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
