<main class="ph3 ph5-ns mv6">

  <header class="mb6">
    <h1 class="mb3 mt0 lh-title black-80">
      How Do I Components With Angular 2?
    </h1>
    <p class="f6 ttu tracked gray mb0">¯\_(ツ)_/¯</p>
  </header>

  <section class="black-60">
    <h2 class="f6 fw6 ttu tracked">Button</h2>

    <div class="mb3">
      <button rioButton>Button Text</button>
      <a rioButton>Button Text</a>
      <input rioButton type="submit" value="Button Text">
    </div>

    <div class="mb6">
      <button rioButton
        color="dark-gray"
        bgColor="bg-black-20">
        Button Text
      </button>

      <a rioButton
        color="dark-gray"
        bgColor="bg-black-20">
        Button Text
      </a>

      <input rioButton
        type="submit"
        value="Button Text"
        color="dark-gray"
        bgColor="bg-black-20">
    </div>

    <h2 class="f6 fw6 ttu tracked">Button Outline</h2>

    <div class="mb6">
      <div>
        <button rioButtonOutline>Button Text</button>
        <a rioButtonOutline>Button Text</a>
        <input rioButtonOutline type="submit" value="Button Text">
      </div>

      <div>
        <button rioButtonOutline rounded="left">Rounded Left</button>
        <button rioButtonOutline rounded="none">Rounded None</button>
        <button rioButtonOutline rounded="right">Rounded Right</button>
      </div>
    </div>

    <h2 class="f6 fw6 ttu tracked">Media Object</h2>

    <div class="mb3">
      <rio-media class="mb3"
        img="http://placehold.it/128/357EDD/fff">
      </rio-media>

      <rio-media img="http://placehold.it/128/357EDD/fff"
        class="mb3">
        <h3>Media Object</h3>
        <p>With alignment options</p>
      </rio-media>

      <rio-media img="http://placehold.it/128/357EDD/fff"
        right="true"
        align="bottom"
        class="mb6 pl2"
        [ngClass]="'bg-black-10'">
        <h3>Media Object</h3>
        <p class="mb0">With alignment options</p>
      </rio-media>
    </div>

    <h2 class="f6 fw6 ttu tracked">Card</h2>

    <div class="mb6">
      <rio-card class="mb3 mw5 dark-gray mr3">
        <rio-card-image src="http://placehold.it/320/ccc/444"></rio-card-image>
        <h3 rioHeading>Card</h3>
        <p class="mb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </rio-card>

      <a href="#">
        <rio-card class="mb3 mw5 dark-gray dim">
          <rio-card-image src="http://placehold.it/320/ccc/444"></rio-card-image>
          <h3 rioHeading>Link Card</h3>
          <p class="mb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </rio-card>
      </a>
    </div>

    <h2 class="f6 fw6 ttu tracked">Heading</h2>

    <div class="mb6">
      <h1 rioHeading>Heading 1</h1>
      <h2 rioHeading>Heading 2</h2>
      <h3 rioHeading>Heading 3</h3>
      <h4 rioHeading>Heading 4</h4>
      <h5 rioHeading>Heading 5</h5>
      <h6 rioHeading>Heading 6</h6>
      <h2 class="purple lh-copy" rioHeading>Customized Heading</h2>
    </div>

    <h2 class="f6 fw6 ttu tracked">Toolbar</h2>
    <p>See another example of a fixed toolbar at the top of the page.</p>

    <rio-toolbar class="fixed top-0 left-0 right-0">
      <img src="http://placehold.it/200/fff/357EDD?text=LOGO"
        class="w2 h2 br-100 pa2"
        alt="Site Name" />

      <a href="#" rioNavItem>Link 1</a>
      <a href="#" rioNavItem>Link 2</a>
      <a href="#" rioNavItem>Link 3</a>
    </rio-toolbar>

    <div class="mb6">
      <rio-toolbar>
        <rio-icon class="f2 pa2" type="wind"></rio-icon>

        <a href="#" rioNavItem>Link 1</a>
        <a href="#" rioNavItem>Link 2</a>
        <a href="#" rioNavItem>Link 3</a>
      </rio-toolbar>
    </div>

    <h2 class="f6 fw6 ttu tracked">Icons</h2>

    <p class="f1 flex flex-wrap justify-between mb6">
      <rio-icon class="light-red" type="chat"></rio-icon>
      <rio-icon class="gold" type="hamburger"></rio-icon>
      <rio-icon class="purple" type="home"></rio-icon>
      <rio-icon class="pink" type="mail"></rio-icon>
      <rio-icon class="green" type="marker"></rio-icon>
      <rio-icon class="blue" type="star"></rio-icon>
      <rio-icon class="red" type="wind"></rio-icon>
    </p>
  </section>

</main>
